* {
    box-sizing: border-box;
}

:root {
    --primary-color: #00B368;
    --primary-color-shade: #039558;
    --fg-color: #453A66;
    --fg-color-shade: #392E59;
    --secondary-color: #FF5F5F;
    --dark-bg: #222;
    --buttons: #F3F5FA;
    --bg: #FAFAFA;
    --bg-dos: #F9F2E0;
}

a {
    text-decoration: none;
    color: var(--fg-color);
}

a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Familjen Grotesk", sans-serif;
    line-height: 1;
    font-optical-sizing: auto;
    word-spacing: 2px;
    color: var(--fg-color);
    font-size: 16px;
    background-color: var(--bg);
}

h1{
    font-size: 50px;
    margin: 16px 0;
    line-height: 1;
    font-weight: 800;
}

h2{
    font-size: 40px;
    line-height: 1;
    margin:0;
}

p {
    font-size: 22px;
    margin: 16px 0;
    line-height: 1.2;
}

.paragraph{
    margin: 24px 0;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;

}

mark {
    background: var(--bg-dos);
    color: var(--fg-color);
}

.btn-primary{
    border-radius: 8px;
    padding: 16px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: 100%;
    font-size: 20px;
}

.btn-primary:hover{
    background-color: var(--primary-color-shade);
    
}

.btn-secondary{
    border-radius: 8px;
    padding: 16px 16px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    width: 100%;
    font-size: 20px;
}

.btn-secondary:hover{
    background-color: rgba(0, 0, 0, .03);
}

.btn-sm{
    border-radius: 8px;
    padding: 8px 12px;
    background-color: var(--bg);
    border: 2px solid var(--primary-color);
    width: 100%;
}

.btn-sm:hover{
    background-color: var(--bg-dos);
}

button img{
    width: 24px;
    margin: 0 8px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 64px 0 24px;
}

.tabs a{
    font-size: 20px;
    font-weight: 400; 
    margin: 0 40px;
    border-radius: 99px;
}

#active{
    font-weight: 700;
}

.logo{
    width: 80px;
}

.logo img{
    width: 80px;
}

.hero{
    max-width: 1800px;
    margin: 60px auto 0;
    text-align: left;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-img-tutor{
    width: 50%;
    display: flex;
    padding: 8px;
    border-radius: 32px 32px 100px 32px
}

.hero-img video{
    width: 620px;
    display: flex;
    padding: 8px;
    border-radius: 32px 32px 266px 266px;
}

.hero-cta{
    width: 100%;
    max-width: 800px;
    margin: 0 0 0 40px;
}

.hero-cta-vet{
    width: 100%;
    max-width: 800px;
    margin: 0 40px 0 0;
}

.hero-cta p{
    font-size: 24px;
    max-width: 80%;
}

.button-group{
    z-index: 99;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
}

.button-group .btn-primary{
    margin-right: 16px;
}

/*start hamburger menu*/

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0; /* Changed from left: 0 */
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px; /* Changed from left: 20px */

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 9999;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: var(--fg-color);

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    z-index: 999;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%; /* Changed from left: -100% */

    width: 60%;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: var(--bg-dos);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 32px 32px;

    color: var(--fg-color);
    font-size: 32px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}
.menu__item:hover {
    background-color: rgba(0, 0, 0, .01);
}

  /*end hamburger menu*/

.facts{
    text-align: center;
    background-color: lightgray;
    padding: 24px;
}

.miguhead{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 65%;
    background-color:var(--bg-dos) ;
    border-radius: 24px;
    height: 450px;
}

.miguhead p{
    max-width: 600px;
}

.miguhead img{
    width: 40%;
}

.miguvid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.miguvid video{
    border-radius: 8px;
    height: 650px;
    -webkit-box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
}

.features{
    padding: 24px;
}

.headline{
    width: 80%;
    max-width: 1300px;
    background-color: var(--bg-dos);
    border-radius: 12px;
    display: block;
    text-align: center;
    padding: 24px;
    margin: 120px auto;
}

.headline a{
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.headline-dos{
    width: 80%;
    font-size: 28px;
    display: block;
    text-align: center;
    margin: 80px auto;
    font-weight: 500;
}

.feature-block{
    display: flex;
    align-items: center;
}

.feature-desc{
    padding-left: 16px;
}

.testimonials{
    margin: 120px 10%;
    text-align: left;
    
}

.testimonials .headline-dos{
    width: 100%;
    margin: 0;
}

.testi-uno{
    display: flex;
    margin: 80px 10%;
    justify-content: center;
    align-items: center;

}

.testi-uno img{
    width: 50%;
    margin-right: 80px;
}

.unodostres{
    display: flex;
    width: 80%;
    max-width: 1300px;
    text-align: left;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.unodostres-desc{
    width: 100%;
    color: var(--fg-color);
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.unodostres-desc p{
    margin: 24px 0;
    font-size: 28px;
    font-weight: 500;
}

.ui{
    width: 90%;
    -webkit-box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.benefits{
    display: flex;
    width: 80%;
    max-width: 1300px;
    text-align: left;
    margin: 0 auto;
}

.bene-desc{
    width: 100%;
    background: var(--fg-color);
    color: white;
    padding: 24px;
    border-radius: 12px;
}

#middle-card{
    background-color: var(--primary-color);
}


.benefits img{
    width: 48px;
}

.download{
    padding: 40px;
    text-align: center;
    background-color: var(--primary-color);
}

.clinica{
    padding: 120px;
    text-align: center;
}

.clinica .btn-primary{
    width: auto;
    margin: 0 auto;
}

.download h2{
    color: white;
}

.download .btn-primary{
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--fg-color);
}

.download .btn-primary:hover{
    background-color: var(--fg-color-shade);
}

.download img{
    width: 150px;
    margin:8px;
}

.socials{
    padding: 16px 0;
    text-align: left;
}

.socials img{
    margin: 12px 12px 12px 0;
    width: 24px;
}

.input-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: dodgerblue;
}

.input-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank{
    width: 16px;
}


.separador{
    display: flex;
    align-items: center;
    justify-self: center;
}

.separador hr{
    display: flex;
    width: 100%;
    margin: 24px;
}

.alternative-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.alternative-sign a{
    margin-left: 8px;
}

.links-volver{
    display: flex;
    justify-content: center;
}

.why{
    background-color: var(--bg-dos);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 10%;
    margin: 80px 0;
}

.whytwo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 120px 0;
}

.whythree{
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 120px auto;
}

.whythree video{
    width: 520px;
    padding: 8px;
    border-radius: 32px 32px 400px 32px;
    margin-right: 40px;
}

.vet-beneficios{
    width: 45%;
    margin-right: 80px;
}

.beneficio{
    margin-bottom: 40px;

}

.checks{
    width: 50%;
}

.why p{
    max-width: 700px;
}

.why img{
    margin-right: 80px;
}

.carnet{
    width: 45%;
    max-width: 650px;
}

.carnet-desc{
    max-width: 600px;
}

.digitaliza{
    max-width: 1800px;
    text-align: center;
    margin: 120px auto 80px;
    padding: 0 10%;
}

.digitaliza p{
    max-width: 900px;
    margin: 16px auto;
}

.digitaliza img{
    width: 70%;
}

.check{
    display: flex;
    align-items: center;
}

.check img{
    margin-right: 8px;
}

.check p{
    margin: 8px;
    font-size: 24px;
}

.logo{
    display: block;
}

.credibilidad{
    display: flex;
    width: 100%;
    max-width: 1800px;
    margin: 120px auto 0;
}

.credi-desc{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10%;
}

.credi-desc img{
    width: 120px;
    margin: 0 auto;
}

.zig-zag{
    max-width: 1800px;
    margin: 0 auto;
}

.zz{
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    margin-top: 15%;
    background-color:#FEF9EE ;
    border-radius: 24px;
    height: 450px;
}

.zz-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 220px 0;
    padding: 0 10%;
}

#left{
    margin: 0 0 0 80px;
}

#right{
    margin: 0 80px 0 0;
}

.zz-text{
    width: 50%;
}

.img-bg{
    width: 50%;
    background-color: var(--bg-dos);
    border-radius: 24px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show{
    display: none;
}

#hide{
    display: flex;
}

.zz-desc img{
    width: 35%;
    -webkit-box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
    box-shadow: 9px -6px 43px -6px rgba(0,0,0,0.2);
}

.anuncio-beta{
    margin: 24px 0;
}

.centro{
    text-align: center;
    padding: 120px 10%;
    background-color: var(--buttons);
}

.centro p{
padding: 0 12%;
}

.centro img{
    width: 70%;
    margin: 0 auto;
}

.planes{
    display: flex;
    width: 90%;
    margin: 80px auto;
    align-items: center;
    justify-content: center;

}

.plan{
    width: 33%;
    padding: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--buttons);
    border-radius: 24px;
}

.plan p{
    margin: 4px 0;
}

#plan-fav{
    margin: 0 16px;
    background-color: var(--bg-dos);
}

#plan-fav .plan-detalle{
    margin: 72px 0;
}

.plan-detalle{
    margin: 48px 0;
}

.plan button{
    width: 100% !important;
}

.footer{
    display: inline-block;
    width: 100%;
    /* margin: 80px 10%; */
    text-align: left;
    padding: 40px 10% 8px 10%;
    background-color: var(--bg-dos);

}

.footer-links p{
    margin: 24px 0;
}

.footer-content{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


@media only screen and (max-width: 1160px) {

    h1{
        font-size: 3.5rem;
    }

    .hero-cta p{
        font-size: 20px;
        max-width: 80%;
    }


    .button-group{
        display: inline-block;
    }

    .button-group .btn-primary{
        margin: 0 0 16px 0;
    }

}

@media only screen and (max-width: 900px) {

    h1{
        font-size: 48px;
    }

    .nav{
        justify-content: unset;
    }

    .tabs{
        display: flex;
    }

    .tabs a{
        margin: 0 24px;
    }

    .menu__btn{
        top: 32px;
    }

    .menu__box{
        width: 90%;
    }

    .hero{
        display: inline-block;
        width: 100%;
        margin-top: 0;
    }

    .hero-img-tutor{
        width: 100%;
        margin: 0 auto;
    }


    .hero-cta-vet{
        text-align: center;
    }

    .hero-cta{
        margin: 0;
    }

    .hero-cta h1{
        text-align: center;
    }

    .hero-cta p{
        max-width: 100%;
        text-align: center;
        padding: 0 10%;
    }

    .button-group{
        max-width: 100%;
    }
    
    .hero-img video{
        width: 300px;
        width: 300px;
        border-radius: 24px 24px 130px 130px;
        margin: 0 auto;
    }

    .whythree video{
        width: 100%;
    }

    .why{
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }

    .whytwo{
        display: inline-block;
        max-width: 100%;
        margin: 0;
    }

    .whytwo h2{
        text-align: center;
    }

    .why img{
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .whythree{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }

    .checks{
        width: 90%;
        margin: 0 auto;
    }

    .beneficio{
        margin-bottom: 40px;
    }

    .credibilidad{
        display: inline-block;
        margin: 40px 0 0 0;
    }

    .credi-desc{
        width: 90%;
        margin-bottom: 40px;
        padding: 0;
    }

    .zz-desc{
        display: inline;
        text-align: center;
    }

    .zz-desc img{
        width: 50%;
    }

    .zz-text{
        width: 80%;
    }

    #hide{
        display: none;
    }

    #show{
        display: flex;
    }

    #right{
        margin: 40px auto;
    }

    #right img{
        display: none;
    }

    #left{
        margin: 40px auto;
    }

    .img-bg{
        margin: 80px auto 150px;
        width: 90%;
    }

    .digitaliza{
        margin: 40px 0;
        padding: 0 10%;
    }

    .digitaliza img{
        width: 100%;
    }

    .centro{
        padding: 80px 10%
    }

    .centro img{
        width: 100%;
    }

    .clinica{
        padding: 40px 10%;
    }

    .miguvid{
        margin: 40px 0 0 0;
    }

    .miguvid video{
        height: 570px;
    }

    .vet-beneficios{
        width: 90%;
        margin: 24px auto;
    }

    .check img{
        width: 24px;
        margin: 0;
    }

    #margin-top{
        margin-top: 40px;
    }

    .check p{
        font-size: 1.2rem;
    }

    .benefits{
        display: inline-block;
    }

    .unodostres{
        display: inline-block;
        width: 100%;
    }

    .unodostres-desc{
        margin: 0 auto;
    }

    .ui{
        width: 70%;
    }

    .testi-uno{
        display: inline-block;
        margin: 40px 0;
    }

    .testi-uno img{
        margin-right: 0;
        width: 100%;
    }

    .benefits{
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .bene-desc{
        margin: 24px 0 24px 0;
        width: 100%;
    }

    .planes{
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    .plan{
        width: 100%;
        margin: 0 auto;
    }

    #plan-fav{
        margin: 16px 0;
    }

    .footer-content{
        display: inline-block;
    }

}